/* Indie Flower font */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

body {
  font-family: "Patrick Hand", monospace;
  font-weight: 300;
  text-transform: capitalize;
  color: #fff;
  background-color: #000;
}
/* container */
.container {
  width: 100%;
}
/* Title */
.brand {
  font-size: 3.5rem;
  margin: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

/* search form */
.search-form {
  display: flex;
  justify-content: center;
}

.search-form form {
  background-color: #fff;
  padding: 1rem 0 1rem 1rem;
  width: 25rem;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5rem;
}

.search-form form .search-input {
  width: 90%;
  background-color: transparent;
  font-size: 1.3rem;
  padding: 0.1rem 0;
}
.search-form form .search-input::placeholder {
  color: #000;
  font-family: "Patrick Hand";
}
.search-form form ion-icon {
  width: 10%;
  color: #000;
  padding: 0 0.5rem;
  font-size: 1.7rem;
}

/*  meal list result  */
.title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 3rem 0;
  letter-spacing: 0.2rem;
}
.results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}
.item {
  background-color: rgb(37, 37, 37);
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  padding-bottom: 2rem;
  transition: all 0.3 ease-in;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.item:hover {
  background-color: rgba(245, 245, 245, 0.842);
  color: #000;
  transform: scale(1.1);
}
.item .meal-img img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.about-meal {
  text-align: center;
  margin-top: 1rem;
}
.about-meal .meal-name {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.about-meal .view-recipe-btn {
  color: #fff;
  background-color: #404041;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  transition: all 0.3s linear;
}
.about-meal .view-recipe-btn:hover {
  background-color: whitesmoke;
  color: #000;
}

/* meal details */

.meal-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #000;
  background-color: #fff;
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: auto;
  height: 90%;
  z-index: 999;
  padding: 1rem;
  border-radius: 1rem;
  overflow-y: scroll;
}
.meal-details::-webkit-scrollbar {
  width: 0.3rem;
}
.meal-details::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.recipe-close-btn {
  font-size: 2rem;
  align-self: end;
  background-color: #fff;
  cursor: pointer;
}
.recipe-name {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.category-name {
  font-size: 1.5rem;
}
.ins-title {
  font-size: 2rem;
  margin-top: 2rem;
}
.recipe-ins {
  text-align: center;
  margin: 1rem 5rem 2rem 5rem;
  font-size: 1.2rem;
  line-height: 1.9rem;
}
.recipe-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.recipe-youtube {
  color: #fff;
  background-color: #404041;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  border-radius: 3rem;
  transition: all 0.3s linear;
}
.recipe-youtube:hover {
  transform: scale(1.1);
}
/* js related */
.not-found {
  color: #fff;
  display: none;
}

.show {
  display: block;
}
.hidden {
  display: none;
}
.display {
  display: flex;
}

/* media queries */

@media screen and (max-width: 991px) {
  .recipe-ins {
    margin: 1rem 2rem;
  }
  .meal-details {
    width: 80%;
    height: 70%;
  }
}

@media screen and (max-width: 480px) {
  .meal-details {
    width: 80%;
    height: 60%;
  }
}
